**CREATE,DROP,SELECT,INSERT,
MULTIPLE QUERIES IN CELL,SECOND HIGHEST SALARY 
,Describe,
Distinct,where,Group by,having,count**

In [0]:
%sql
CREATE TABLE employees (
    emp_id INT,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    department VARCHAR(50),
    job_title VARCHAR(50),
    salary DECIMAL(10, 2),
    hire_date DATE,
    status VARCHAR(20),
    city VARCHAR(50),
    email VARCHAR(100)
);

In [0]:
%sql
INSERT INTO employees VALUES
(1, 'John', 'Doe', 'Engineering', 'Software Engineer', 75000.00, '2020-05-15', 'Active', 'Bangalore', 'john.doe@example.com'),
(2, 'Jane', 'Smith', 'HR', 'HR Manager', 65000.00, '2019-03-10', 'Active', 'Mumbai', 'jane.smith@example.com'),
(3, 'Raj', 'Kumar', 'Engineering', 'Data Engineer', 85000.00, '2021-07-01', 'Active', 'Hyderabad', 'raj.kumar@example.com'),
(4, 'Priya', 'Sharma', 'Marketing', 'Marketing Analyst', 60000.00, '2018-11-22', 'Active', 'Delhi', 'priya.sharma@example.com'),
(5, 'Tom', 'Brown', 'Sales', 'Sales Executive', 55000.00, '2022-01-05', 'Active', 'Chennai', 'tom.brown@example.com'),
(6, 'Sara', 'Ali', 'Engineering', 'Backend Developer', 78000.00, '2020-09-17', 'Active', 'Pune', 'sara.ali@example.com'),
(7, 'Amit', 'Verma', 'Finance', 'Accountant', 62000.00, '2017-06-30', 'Inactive', 'Bangalore', 'amit.verma@example.com'),
(8, 'Emily', 'Clark', 'HR', 'Recruiter', 50000.00, '2021-02-14', 'Active', 'Mumbai', 'emily.clark@example.com'),
(9, 'Vikram', 'Singh', 'Engineering', 'DevOps Engineer', 90000.00, '2019-08-19', 'Active', 'Hyderabad', 'vikram.singh@example.com'),
(10, 'Neha', 'Patel', 'Sales', 'Regional Manager', 95000.00, '2015-04-01', 'Active', 'Delhi', 'neha.patel@example.com');

num_affected_rows,num_inserted_rows
10,10

In [0]:
%sql
INSERT INTO employees VALUES
(11, 'David', 'Lee', 'Engineering', 'Frontend Developer', 72000.00, '2020-03-11', 'Active', 'Chennai', 'david.lee@example.com'),
(12, 'Ananya', 'Roy', 'Finance', 'Financial Analyst', 67000.00, '2019-07-25', 'Active', 'Pune', 'ananya.roy@example.com'),
(13, 'Sam', 'Wilson', 'Marketing', 'Content Strategist', 58000.00, '2021-11-30', 'Active', 'Delhi', 'sam.wilson@example.com'),
(14, 'Pooja', 'Das', 'Sales', 'Sales Associate', 52000.00, '2018-10-02', 'Inactive', 'Bangalore', 'pooja.das@example.com'),
(15, 'Arjun', 'Nair', 'Engineering', 'Data Scientist', 98000.00, '2021-05-20', 'Active', 'Hyderabad', 'arjun.nair@example.com'),
(16, 'Kavita', 'Gupta', 'HR', 'Compensation Analyst', 61000.00, '2017-01-16', 'Active', 'Mumbai', 'kavita.gupta@example.com'),
(17, 'Robert', 'King', 'Engineering', 'Software Architect', 120000.00, '2016-09-05', 'Active', 'Delhi', 'robert.king@example.com'),
(18, 'Meera', 'Joshi', 'Finance', 'Auditor', 69000.00, '2020-12-11', 'Active', 'Pune', 'meera.joshi@example.com'),
(19, 'Michael', 'Scott', 'Sales', 'Regional Sales Head', 115000.00, '2015-06-20', 'Active', 'Chennai', 'michael.scott@example.com'),
(20, 'Ravi', 'Menon', 'Engineering', 'Machine Learning Engineer', 93000.00, '2019-04-15', 'Active', 'Hyderabad', 'ravi.menon@example.com'),
(21, 'Tina', 'Fernandez', 'Marketing', 'SEO Specialist', 57000.00, '2018-05-22', 'Active', 'Delhi', 'tina.fernandez@example.com'),
(22, 'Arvind', 'Singh', 'Finance', 'Tax Consultant', 65000.00, '2020-01-25', 'Active', 'Mumbai', 'arvind.singh@example.com'),
(23, 'Lucy', 'Adams', 'HR', 'HR Coordinator', 48000.00, '2021-09-10', 'Active', 'Bangalore', 'lucy.adams@example.com'),
(24, 'Karan', 'Malhotra', 'Engineering', 'Tech Lead', 105000.00, '2017-11-18', 'Active', 'Chennai', 'karan.malhotra@example.com'),
(25, 'Sneha', 'Reddy', 'Sales', 'Sales Manager', 88000.00, '2016-02-09', 'Active', 'Hyderabad', 'sneha.reddy@example.com'),
(26, 'George', 'Mason', 'Finance', 'Payroll Specialist', 60000.00, '2022-04-08', 'Active', 'Pune', 'george.mason@example.com'),
(27, 'Vishal', 'Kapoor', 'Marketing', 'Brand Manager', 75000.00, '2019-03-19', 'Active', 'Delhi', 'vishal.kapoor@example.com'),
(28, 'Emma', 'Watson', 'Engineering', 'QA Engineer', 70000.00, '2020-07-15', 'Active', 'Bangalore', 'emma.watson@example.com'),
(29, 'Siddharth', 'Jain', 'Engineering', 'Cloud Engineer', 89000.00, '2018-06-25', 'Active', 'Hyderabad', 'siddharth.jain@example.com'),
(30, 'Olivia', 'Brown', 'Sales', 'Territory Manager', 81000.00, '2017-04-05', 'Active', 'Mumbai', 'olivia.brown@example.com'),
(31, 'Nikhil', 'Arora', 'Finance', 'Business Analyst', 68000.00, '2021-03-27', 'Active', 'Chennai', 'nikhil.arora@example.com'),
(32, 'Ayesha', 'Khan', 'HR', 'Training Specialist', 59000.00, '2019-08-02', 'Active', 'Pune', 'ayesha.khan@example.com'),
(33, 'Chris', 'Evans', 'Engineering', 'Security Analyst', 94000.00, '2020-12-18', 'Active', 'Delhi', 'chris.evans@example.com'),
(34, 'Ishita', 'Bhatt', 'Marketing', 'Social Media Manager', 63000.00, '2018-07-21', 'Active', 'Bangalore', 'ishita.bhatt@example.com'),
(35, 'Shyam', 'Patil', 'Engineering', 'Data Analyst', 76000.00, '2017-02-15', 'Active', 'Hyderabad', 'shyam.patil@example.com'),
(36, 'Sophia', 'Green', 'Sales', 'Sales Coordinator', 54000.00, '2022-05-01', 'Active', 'Mumbai', 'sophia.green@example.com'),
(37, 'Harsh', 'Aggarwal', 'Finance', 'Investment Analyst', 88000.00, '2016-11-28', 'Active', 'Delhi', 'harsh.aggarwal@example.com'),
(38, 'Liam', 'Martin', 'Engineering', 'AI Engineer', 115000.00, '2019-09-30', 'Active', 'Chennai', 'liam.martin@example.com'),
(39, 'Diya', 'Saxena', 'HR', 'HRBP', 74000.00, '2020-02-07', 'Active', 'Pune', 'diya.saxena@example.com'),
(40, 'Jason', 'Taylor', 'Marketing', 'Market Research Analyst', 58000.00, '2021-06-11', 'Active', 'Hyderabad', 'jason.taylor@example.com'),
(41, 'Ritika', 'Mehra', 'Engineering', 'Mobile App Developer', 77000.00, '2018-01-13', 'Active', 'Delhi', 'ritika.mehra@example.com'),
(42, 'Steve', 'Jobs', 'Engineering', 'Product Manager', 125000.00, '2015-12-20', 'Active', 'Bangalore', 'steve.jobs@example.com'),
(43, 'Alisha', 'Paul', 'Sales', 'Inside Sales Rep', 56000.00, '2020-04-23', 'Active', 'Chennai', 'alisha.paul@example.com'),
(44, 'Dhruv', 'Singhania', 'Finance', 'Risk Manager', 97000.00, '2017-10-14', 'Active', 'Mumbai', 'dhruv.singhania@example.com'),
(45, 'Rebecca', 'Lewis', 'Marketing', 'PR Specialist', 64000.00, '2019-05-18', 'Active', 'Pune', 'rebecca.lewis@example.com'),
(46, 'Naveen', 'Shetty', 'Engineering', 'Technical Support Engineer', 66000.00, '2021-01-12', 'Active', 'Hyderabad', 'naveen.shetty@example.com'),
(47, 'Julia', 'Roberts', 'HR', 'HR Generalist', 61000.00, '2018-09-03', 'Active', 'Delhi', 'julia.roberts@example.com'),
(48, 'Parth', 'Desai', 'Finance', 'Treasury Analyst', 70000.00, '2019-12-29', 'Active', 'Chennai', 'parth.desai@example.com'),
(49, 'Nina', 'Shah', 'Engineering', 'Systems Engineer', 73000.00, '2020-06-17', 'Active', 'Bangalore', 'nina.shah@example.com'),
(50, 'Aria', 'Gill', 'Marketing', 'Advertising Manager', 82000.00, '2017-08-09', 'Active', 'Mumbai', 'aria.gill@example.com');

num_affected_rows,num_inserted_rows
40,40

In [0]:
queries = [
    "select emp_id,first_name,salary from employees where salary > 100000",
    "SELECT * from employees where   department in ('Engineering','HR') and salary>70000",
    "select * from employees order by salary desc",
    "select * from employees order by department desc, first_name asc , salary desc",
]

for query in queries:
    display(spark.sql(query))

emp_id,first_name,salary
17,Robert,120000.00
19,Michael,115000.00
24,Karan,105000.00
38,Liam,115000.00
42,Steve,125000.00

emp_id,first_name,last_name,department,job_title,salary,hire_date,status,city,email
11,David,Lee,Engineering,Frontend Developer,72000.00,2020-03-11,Active,Chennai,david.lee@example.com
15,Arjun,Nair,Engineering,Data Scientist,98000.00,2021-05-20,Active,Hyderabad,arjun.nair@example.com
17,Robert,King,Engineering,Software Architect,120000.00,2016-09-05,Active,Delhi,robert.king@example.com
20,Ravi,Menon,Engineering,Machine Learning Engineer,93000.00,2019-04-15,Active,Hyderabad,ravi.menon@example.com
24,Karan,Malhotra,Engineering,Tech Lead,105000.00,2017-11-18,Active,Chennai,karan.malhotra@example.com
29,Siddharth,Jain,Engineering,Cloud Engineer,89000.00,2018-06-25,Active,Hyderabad,siddharth.jain@example.com
33,Chris,Evans,Engineering,Security Analyst,94000.00,2020-12-18,Active,Delhi,chris.evans@example.com
35,Shyam,Patil,Engineering,Data Analyst,76000.00,2017-02-15,Active,Hyderabad,shyam.patil@example.com
38,Liam,Martin,Engineering,AI Engineer,115000.00,2019-09-30,Active,Chennai,liam.martin@example.com
39,Diya,Saxena,HR,HRBP,74000.00,2020-02-07,Active,Pune,diya.saxena@example.com
41,Ritika,Mehra,Engineering,Mobile App Developer,77000.00,2018-01-13,Active,Delhi,ritika.mehra@example.com
42,Steve,Jobs,Engineering,Product Manager,125000.00,2015-12-20,Active,Bangalore,steve.jobs@example.com
49,Nina,Shah,Engineering,Systems Engineer,73000.00,2020-06-17,Active,Bangalore,nina.shah@example.com
1,John,Doe,Engineering,Software Engineer,75000.00,2020-05-15,Active,Bangalore,john.doe@example.com
3,Raj,Kumar,Engineering,Data Engineer,85000.00,2021-07-01,Active,Hyderabad,raj.kumar@example.com
6,Sara,Ali,Engineering,Backend Developer,78000.00,2020-09-17,Active,Pune,sara.ali@example.com
9,Vikram,Singh,Engineering,DevOps Engineer,90000.00,2019-08-19,Active,Hyderabad,vikram.singh@example.com

emp_id,first_name,last_name,department,job_title,salary,hire_date,status,city,email
42,Steve,Jobs,Engineering,Product Manager,125000.00,2015-12-20,Active,Bangalore,steve.jobs@example.com
17,Robert,King,Engineering,Software Architect,120000.00,2016-09-05,Active,Delhi,robert.king@example.com
19,Michael,Scott,Sales,Regional Sales Head,115000.00,2015-06-20,Active,Chennai,michael.scott@example.com
38,Liam,Martin,Engineering,AI Engineer,115000.00,2019-09-30,Active,Chennai,liam.martin@example.com
24,Karan,Malhotra,Engineering,Tech Lead,105000.00,2017-11-18,Active,Chennai,karan.malhotra@example.com
15,Arjun,Nair,Engineering,Data Scientist,98000.00,2021-05-20,Active,Hyderabad,arjun.nair@example.com
44,Dhruv,Singhania,Finance,Risk Manager,97000.00,2017-10-14,Active,Mumbai,dhruv.singhania@example.com
10,Neha,Patel,Sales,Regional Manager,95000.00,2015-04-01,Active,Delhi,neha.patel@example.com
33,Chris,Evans,Engineering,Security Analyst,94000.00,2020-12-18,Active,Delhi,chris.evans@example.com
20,Ravi,Menon,Engineering,Machine Learning Engineer,93000.00,2019-04-15,Active,Hyderabad,ravi.menon@example.com
9,Vikram,Singh,Engineering,DevOps Engineer,90000.00,2019-08-19,Active,Hyderabad,vikram.singh@example.com
29,Siddharth,Jain,Engineering,Cloud Engineer,89000.00,2018-06-25,Active,Hyderabad,siddharth.jain@example.com
25,Sneha,Reddy,Sales,Sales Manager,88000.00,2016-02-09,Active,Hyderabad,sneha.reddy@example.com
37,Harsh,Aggarwal,Finance,Investment Analyst,88000.00,2016-11-28,Active,Delhi,harsh.aggarwal@example.com
3,Raj,Kumar,Engineering,Data Engineer,85000.00,2021-07-01,Active,Hyderabad,raj.kumar@example.com
50,Aria,Gill,Marketing,Advertising Manager,82000.00,2017-08-09,Active,Mumbai,aria.gill@example.com
30,Olivia,Brown,Sales,Territory Manager,81000.00,2017-04-05,Active,Mumbai,olivia.brown@example.com
6,Sara,Ali,Engineering,Backend Developer,78000.00,2020-09-17,Active,Pune,sara.ali@example.com
41,Ritika,Mehra,Engineering,Mobile App Developer,77000.00,2018-01-13,Active,Delhi,ritika.mehra@example.com
35,Shyam,Patil,Engineering,Data Analyst,76000.00,2017-02-15,Active,Hyderabad,shyam.patil@example.com
1,John,Doe,Engineering,Software Engineer,75000.00,2020-05-15,Active,Bangalore,john.doe@example.com
27,Vishal,Kapoor,Marketing,Brand Manager,75000.00,2019-03-19,Active,Delhi,vishal.kapoor@example.com
39,Diya,Saxena,HR,HRBP,74000.00,2020-02-07,Active,Pune,diya.saxena@example.com
49,Nina,Shah,Engineering,Systems Engineer,73000.00,2020-06-17,Active,Bangalore,nina.shah@example.com
11,David,Lee,Engineering,Frontend Developer,72000.00,2020-03-11,Active,Chennai,david.lee@example.com
28,Emma,Watson,Engineering,QA Engineer,70000.00,2020-07-15,Active,Bangalore,emma.watson@example.com
48,Parth,Desai,Finance,Treasury Analyst,70000.00,2019-12-29,Active,Chennai,parth.desai@example.com
18,Meera,Joshi,Finance,Auditor,69000.00,2020-12-11,Active,Pune,meera.joshi@example.com
31,Nikhil,Arora,Finance,Business Analyst,68000.00,2021-03-27,Active,Chennai,nikhil.arora@example.com
12,Ananya,Roy,Finance,Financial Analyst,67000.00,2019-07-25,Active,Pune,ananya.roy@example.com
46,Naveen,Shetty,Engineering,Technical Support Engineer,66000.00,2021-01-12,Active,Hyderabad,naveen.shetty@example.com
2,Jane,Smith,HR,HR Manager,65000.00,2019-03-10,Active,Mumbai,jane.smith@example.com
22,Arvind,Singh,Finance,Tax Consultant,65000.00,2020-01-25,Active,Mumbai,arvind.singh@example.com
45,Rebecca,Lewis,Marketing,PR Specialist,64000.00,2019-05-18,Active,Pune,rebecca.lewis@example.com
34,Ishita,Bhatt,Marketing,Social Media Manager,63000.00,2018-07-21,Active,Bangalore,ishita.bhatt@example.com
7,Amit,Verma,Finance,Accountant,62000.00,2017-06-30,Inactive,Bangalore,amit.verma@example.com
16,Kavita,Gupta,HR,Compensation Analyst,61000.00,2017-01-16,Active,Mumbai,kavita.gupta@example.com
47,Julia,Roberts,HR,HR Generalist,61000.00,2018-09-03,Active,Delhi,julia.roberts@example.com
4,Priya,Sharma,Marketing,Marketing Analyst,60000.00,2018-11-22,Active,Delhi,priya.sharma@example.com
26,George,Mason,Finance,Payroll Specialist,60000.00,2022-04-08,Active,Pune,george.mason@example.com
32,Ayesha,Khan,HR,Training Specialist,59000.00,2019-08-02,Active,Pune,ayesha.khan@example.com
13,Sam,Wilson,Marketing,Content Strategist,58000.00,2021-11-30,Active,Delhi,sam.wilson@example.com
40,Jason,Taylor,Marketing,Market Research Analyst,58000.00,2021-06-11,Active,Hyderabad,jason.taylor@example.com
21,Tina,Fernandez,Marketing,SEO Specialist,57000.00,2018-05-22,Active,Delhi,tina.fernandez@example.com
43,Alisha,Paul,Sales,Inside Sales Rep,56000.00,2020-04-23,Active,Chennai,alisha.paul@example.com
5,Tom,Brown,Sales,Sales Executive,55000.00,2022-01-05,Active,Chennai,tom.brown@example.com
36,Sophia,Green,Sales,Sales Coordinator,54000.00,2022-05-01,Active,Mumbai,sophia.green@example.com
14,Pooja,Das,Sales,Sales Associate,52000.00,2018-10-02,Inactive,Bangalore,pooja.das@example.com
8,Emily,Clark,HR,Recruiter,50000.00,2021-02-14,Active,Mumbai,emily.clark@example.com
23,Lucy,Adams,HR,HR Coordinator,48000.00,2021-09-10,Active,Bangalore,lucy.adams@example.com

emp_id,first_name,last_name,department,job_title,salary,hire_date,status,city,email
43,Alisha,Paul,Sales,Inside Sales Rep,56000.00,2020-04-23,Active,Chennai,alisha.paul@example.com
19,Michael,Scott,Sales,Regional Sales Head,115000.00,2015-06-20,Active,Chennai,michael.scott@example.com
10,Neha,Patel,Sales,Regional Manager,95000.00,2015-04-01,Active,Delhi,neha.patel@example.com
30,Olivia,Brown,Sales,Territory Manager,81000.00,2017-04-05,Active,Mumbai,olivia.brown@example.com
14,Pooja,Das,Sales,Sales Associate,52000.00,2018-10-02,Inactive,Bangalore,pooja.das@example.com
25,Sneha,Reddy,Sales,Sales Manager,88000.00,2016-02-09,Active,Hyderabad,sneha.reddy@example.com
36,Sophia,Green,Sales,Sales Coordinator,54000.00,2022-05-01,Active,Mumbai,sophia.green@example.com
5,Tom,Brown,Sales,Sales Executive,55000.00,2022-01-05,Active,Chennai,tom.brown@example.com
50,Aria,Gill,Marketing,Advertising Manager,82000.00,2017-08-09,Active,Mumbai,aria.gill@example.com
34,Ishita,Bhatt,Marketing,Social Media Manager,63000.00,2018-07-21,Active,Bangalore,ishita.bhatt@example.com
40,Jason,Taylor,Marketing,Market Research Analyst,58000.00,2021-06-11,Active,Hyderabad,jason.taylor@example.com
4,Priya,Sharma,Marketing,Marketing Analyst,60000.00,2018-11-22,Active,Delhi,priya.sharma@example.com
45,Rebecca,Lewis,Marketing,PR Specialist,64000.00,2019-05-18,Active,Pune,rebecca.lewis@example.com
13,Sam,Wilson,Marketing,Content Strategist,58000.00,2021-11-30,Active,Delhi,sam.wilson@example.com
21,Tina,Fernandez,Marketing,SEO Specialist,57000.00,2018-05-22,Active,Delhi,tina.fernandez@example.com
27,Vishal,Kapoor,Marketing,Brand Manager,75000.00,2019-03-19,Active,Delhi,vishal.kapoor@example.com
32,Ayesha,Khan,HR,Training Specialist,59000.00,2019-08-02,Active,Pune,ayesha.khan@example.com
39,Diya,Saxena,HR,HRBP,74000.00,2020-02-07,Active,Pune,diya.saxena@example.com
8,Emily,Clark,HR,Recruiter,50000.00,2021-02-14,Active,Mumbai,emily.clark@example.com
2,Jane,Smith,HR,HR Manager,65000.00,2019-03-10,Active,Mumbai,jane.smith@example.com
47,Julia,Roberts,HR,HR Generalist,61000.00,2018-09-03,Active,Delhi,julia.roberts@example.com
16,Kavita,Gupta,HR,Compensation Analyst,61000.00,2017-01-16,Active,Mumbai,kavita.gupta@example.com
23,Lucy,Adams,HR,HR Coordinator,48000.00,2021-09-10,Active,Bangalore,lucy.adams@example.com
7,Amit,Verma,Finance,Accountant,62000.00,2017-06-30,Inactive,Bangalore,amit.verma@example.com
12,Ananya,Roy,Finance,Financial Analyst,67000.00,2019-07-25,Active,Pune,ananya.roy@example.com
22,Arvind,Singh,Finance,Tax Consultant,65000.00,2020-01-25,Active,Mumbai,arvind.singh@example.com
44,Dhruv,Singhania,Finance,Risk Manager,97000.00,2017-10-14,Active,Mumbai,dhruv.singhania@example.com
26,George,Mason,Finance,Payroll Specialist,60000.00,2022-04-08,Active,Pune,george.mason@example.com
37,Harsh,Aggarwal,Finance,Investment Analyst,88000.00,2016-11-28,Active,Delhi,harsh.aggarwal@example.com
18,Meera,Joshi,Finance,Auditor,69000.00,2020-12-11,Active,Pune,meera.joshi@example.com
31,Nikhil,Arora,Finance,Business Analyst,68000.00,2021-03-27,Active,Chennai,nikhil.arora@example.com
48,Parth,Desai,Finance,Treasury Analyst,70000.00,2019-12-29,Active,Chennai,parth.desai@example.com
15,Arjun,Nair,Engineering,Data Scientist,98000.00,2021-05-20,Active,Hyderabad,arjun.nair@example.com
33,Chris,Evans,Engineering,Security Analyst,94000.00,2020-12-18,Active,Delhi,chris.evans@example.com
11,David,Lee,Engineering,Frontend Developer,72000.00,2020-03-11,Active,Chennai,david.lee@example.com
28,Emma,Watson,Engineering,QA Engineer,70000.00,2020-07-15,Active,Bangalore,emma.watson@example.com
1,John,Doe,Engineering,Software Engineer,75000.00,2020-05-15,Active,Bangalore,john.doe@example.com
24,Karan,Malhotra,Engineering,Tech Lead,105000.00,2017-11-18,Active,Chennai,karan.malhotra@example.com
38,Liam,Martin,Engineering,AI Engineer,115000.00,2019-09-30,Active,Chennai,liam.martin@example.com
46,Naveen,Shetty,Engineering,Technical Support Engineer,66000.00,2021-01-12,Active,Hyderabad,naveen.shetty@example.com
49,Nina,Shah,Engineering,Systems Engineer,73000.00,2020-06-17,Active,Bangalore,nina.shah@example.com
3,Raj,Kumar,Engineering,Data Engineer,85000.00,2021-07-01,Active,Hyderabad,raj.kumar@example.com
20,Ravi,Menon,Engineering,Machine Learning Engineer,93000.00,2019-04-15,Active,Hyderabad,ravi.menon@example.com
41,Ritika,Mehra,Engineering,Mobile App Developer,77000.00,2018-01-13,Active,Delhi,ritika.mehra@example.com
17,Robert,King,Engineering,Software Architect,120000.00,2016-09-05,Active,Delhi,robert.king@example.com
6,Sara,Ali,Engineering,Backend Developer,78000.00,2020-09-17,Active,Pune,sara.ali@example.com
35,Shyam,Patil,Engineering,Data Analyst,76000.00,2017-02-15,Active,Hyderabad,shyam.patil@example.com
29,Siddharth,Jain,Engineering,Cloud Engineer,89000.00,2018-06-25,Active,Hyderabad,siddharth.jain@example.com
42,Steve,Jobs,Engineering,Product Manager,125000.00,2015-12-20,Active,Bangalore,steve.jobs@example.com
9,Vikram,Singh,Engineering,DevOps Engineer,90000.00,2019-08-19,Active,Hyderabad,vikram.singh@example.com

In [0]:
%sql
select * from employees order by salary desc limit 1 offset 1 ;--second highest salary

emp_id,first_name,last_name,department,job_title,salary,hire_date,status,city,email
17,Robert,King,Engineering,Software Architect,120000.00,2016-09-05,Active,Delhi,robert.king@example.com

In [0]:
%sql
DESCRIBE TABLE employees;

col_name,data_type,comment
emp_id,int,null
first_name,varchar(50),null
last_name,varchar(50),null
department,varchar(50),null
job_title,varchar(50),null
salary,"decimal(10,2)",null
hire_date,date,null
status,varchar(20),null
city,varchar(50),null
email,varchar(100),null