**JOINS --LEFT,RIGHT,INNER,SELF| UNION**

In [0]:
%sql
CREATE TABLE customers (
    customer_id INT ,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    city VARCHAR(50),
    email VARCHAR(100)
);

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-1572421995957727>:7
      5     display(df)
      6     return df
----> 7   _sqldf = ____databricks_percent_sql()
      8 finally:
      9   del ____databricks_percent_sql

File <command-1572421995957727>:4, in ____databricks_percent_sql()
      2 def ____databricks_percent_sql():
      3   import base64
----> 4   df = spark.sql(base64.standard_b64decode("Q1JFQVRFIFRBQkxFIGN1c3RvbWVycyAoCiAgICBjdXN0b21lcl9pZCBJTlQgLAogICAgZmlyc3RfbmFtZSBWQVJDSEFSKDUwKSwKICAgIGxhc3RfbmFtZSBWQVJDSEFSKDUwKSwKICAgIGNpdHkgVkFSQ0hBUig1MCksCiAgICBlbWFpbCBWQVJDSEFSKDEwMCkKKQ==").decode())
      5   display(df)
      6   return df

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/session.py:1387, in SparkSession.sql(self, sqlQuery, args, **kwargs)
   1385 try:
   1386     litArgs = {k: _to_java_column(lit(v)) for k, v in (args or {}).items()}
-> 1387     return DataFrame(self._jsparkSession.sql(sqlQuery, litArgs), self)
   1388 finally:
   1389     if len(kwargs) > 0:

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

AnalysisException: [TABLE_OR_VIEW_ALREADY_EXISTS] Cannot create table or view `default`.`customers` because it already exists.
Choose a different name, drop or replace the existing object, add the IF NOT EXISTS clause to tolerate pre-existing objects, or add the OR REFRESH clause to refresh the existing streaming table.

In [0]:
%sql
CREATE TABLE orders (
    order_id INT ,
    customer_id INT,
    order_date DATE,
    total_amount DECIMAL(10, 2)
);

CREATE TABLE order_details (
    order_detail_id INT ,
    order_id INT,
    customer_id INT,
    product_id INT,
    product_name VARCHAR(100),
    category VARCHAR(50),
    quantity INT,
    price_each DECIMAL(10,2),
    order_date DATE
);

In [0]:
%sql
INSERT INTO customers VALUES
(1, 'John', 'Doe', 'Delhi', 'john.doe@example.com'),
(2, 'Jane', 'Smith', 'Mumbai', 'jane.smith@example.com'),
(3, 'Raj', 'Kumar', 'Bangalore', 'raj.kumar@example.com'),
(4, 'Priya', 'Sharma', 'Hyderabad', 'priya.sharma@example.com'),
(5, 'Tom', 'Brown', 'Pune', 'tom.brown@example.com'),
(6, 'Sara', 'Ali', 'Chennai', 'sara.ali@example.com'),
(7, 'Vikram', 'Singh', 'Delhi', 'vikram.singh@example.com'),
(8, 'Neha', 'Patel', 'Mumbai', 'neha.patel@example.com'),
(9, 'David', 'Lee', 'Kolkata', 'david.lee@example.com'),
(10, 'Amit', 'Verma', 'Jaipur', 'amit.verma@example.com'),
(11, 'Emily', 'Clark', 'Delhi', 'emily.clark@example.com'),
(12, 'Ananya', 'Roy', 'Mumbai', 'ananya.roy@example.com'),
(13, 'Sam', 'Wilson', 'Pune', 'sam.wilson@example.com'),
(14, 'Pooja', 'Das', 'Hyderabad', 'pooja.das@example.com'),
(15, 'Arjun', 'Nair', 'Chennai', 'arjun.nair@example.com'),
(16, 'Kavita', 'Gupta', 'Bangalore', 'kavita.gupta@example.com'),
(17, 'Robert', 'King', 'Delhi', 'robert.king@example.com'),
(18, 'Meera', 'Joshi', 'Mumbai', 'meera.joshi@example.com'),
(19, 'Michael', 'Scott', 'Kolkata', 'michael.scott@example.com'),
(20, 'Ravi', 'Menon', 'Pune', 'ravi.menon@example.com'),
(21, 'Tina', 'Fernandez', 'Delhi', 'tina.fernandez@example.com'),
(22, 'Arvind', 'Singh', 'Hyderabad', 'arvind.singh@example.com'),
(23, 'Lucy', 'Adams', 'Chennai', 'lucy.adams@example.com'),
(24, 'Karan', 'Malhotra', 'Mumbai', 'karan.malhotra@example.com'),
(25, 'Sneha', 'Reddy', 'Pune', 'sneha.reddy@example.com'),
(26, 'George', 'Mason', 'Bangalore', 'george.mason@example.com'),
(27, 'Vishal', 'Kapoor', 'Kolkata', 'vishal.kapoor@example.com'),
(28, 'Emma', 'Watson', 'Delhi', 'emma.watson@example.com'),
(29, 'Siddharth', 'Jain', 'Hyderabad', 'siddharth.jain@example.com'),
(30, 'Olivia', 'Brown', 'Chennai', 'olivia.brown@example.com'),
(31, 'Nikhil', 'Arora', 'Mumbai', 'nikhil.arora@example.com'),
(32, 'Ayesha', 'Khan', 'Delhi', 'ayesha.khan@example.com'),
(33, 'Chris', 'Evans', 'Bangalore', 'chris.evans@example.com'),
(34, 'Ishita', 'Bhatt', 'Kolkata', 'ishita.bhatt@example.com'),
(35, 'Shyam', 'Patil', 'Pune', 'shyam.patil@example.com'),
(36, 'Sophia', 'Green', 'Chennai', 'sophia.green@example.com'),
(37, 'Harsh', 'Aggarwal', 'Hyderabad', 'harsh.aggarwal@example.com'),
(38, 'Liam', 'Martin', 'Delhi', 'liam.martin@example.com'),
(39, 'Diya', 'Saxena', 'Mumbai', 'diya.saxena@example.com'),
(40, 'Jason', 'Taylor', 'Kolkata', 'jason.taylor@example.com'),
(41, 'Ritika', 'Mehra', 'Pune', 'ritika.mehra@example.com'),
(42, 'Steve', 'Jobs', 'Bangalore', 'steve.jobs@example.com'),
(43, 'Alisha', 'Paul', 'Hyderabad', 'alisha.paul@example.com'),
(44, 'Dhruv', 'Singhania', 'Chennai', 'dhruv.singhania@example.com'),
(45, 'Rebecca', 'Lewis', 'Delhi', 'rebecca.lewis@example.com'),
(46, 'Naveen', 'Shetty', 'Mumbai', 'naveen.shetty@example.com'),
(47, 'Julia', 'Roberts', 'Pune', 'julia.roberts@example.com'),
(48, 'Parth', 'Desai', 'Hyderabad', 'parth.desai@example.com'),
(49, 'Nina', 'Shah', 'Chennai', 'nina.shah@example.com'),
(50, 'Aria', 'Gill', 'Bangalore', 'aria.gill@example.com');

num_affected_rows,num_inserted_rows
50,50

In [0]:
%sql
INSERT INTO orders VALUES
(1001, 1, '2023-01-10', 1500.00),
(1002, 2, '2023-01-11', 2500.00),
(1003, 3, '2023-01-15', 500.00),
(1004, 1, '2023-02-01', 750.00),
(1005, 4, '2023-02-05', 2000.00),
(1006, 5, '2023-02-08', 1800.00),
(1007, 6, '2023-03-01', 2200.00),
(1008, 7, '2023-03-05', 3000.00),
(1009, 8, '2023-03-09', 1200.00),
(1010, 9, '2023-03-10', 900.00),
(1011, 10, '2023-03-12', 1900.00),
(1012, 11, '2023-03-15', 1500.00),
(1013, 12, '2023-03-18', 2400.00),
(1014, 13, '2023-03-20', 600.00),
(1015, 14, '2023-03-22', 3000.00),
(1016, 15, '2023-03-25', 2800.00),
(1017, 16, '2023-03-28', 3200.00),
(1018, 17, '2023-03-30', 500.00),
(1019, 18, '2023-04-01', 950.00),
(1020, 19, '2023-04-03', 1750.00),
(1021, 20, '2023-04-05', 2100.00),
(1022, 21, '2023-04-08', 1200.00),
(1023, 22, '2023-04-10', 1400.00),
(1024, 23, '2023-04-12', 800.00),
(1025, 24, '2023-04-14', 3300.00),
(1026, 25, '2023-04-16', 2400.00),
(1027, 26, '2023-04-18', 1800.00),
(1028, 27, '2023-04-20', 2000.00),
(1029, 28, '2023-04-22', 2200.00),
(1030, 29, '2023-04-24', 1950.00),
(1031, 30, '2023-04-26', 2600.00),
(1032, 31, '2023-04-28', 1550.00),
(1033, 32, '2023-05-01', 2700.00),
(1034, 33, '2023-05-03', 1000.00),
(1035, 34, '2023-05-05', 1900.00),
(1036, 35, '2023-05-07', 2100.00),
(1037, 36, '2023-05-09', 1100.00),
(1038, 37, '2023-05-11', 1250.00),
(1039, 38, '2023-05-13', 1850.00),
(1040, 39, '2023-05-15', 1400.00),
(1041, 40, '2023-05-17', 1750.00),
(1042, 41, '2023-05-19', 900.00),
(1043, 42, '2023-05-21', 2500.00),
(1044, 43, '2023-05-23', 3000.00),
(1045, 44, '2023-05-25', 2100.00),
(1046, 45, '2023-05-27', 2600.00),
(1047, 46, '2023-05-29', 2700.00),
(1048, 47, '2023-05-31', 2800.00),
(1049, 48, '2023-06-02', 1500.00),
(1050, 49, '2023-06-04', 1200.00),
(1051, 50, '2023-06-06', 800.00),
(1052, 1, '2023-06-08', 2000.00),
(1053, 2, '2023-06-10', 2300.00),
(1054, 3, '2023-06-12', 1400.00),
(1055, 4, '2023-06-14', 1750.00),
(1056, 5, '2023-06-16', 2600.00),
(1057, 6, '2023-06-18', 2100.00),
(1058, 7, '2023-06-20', 900.00),
(1059, 8, '2023-06-22', 3000.00),
(1060, 9, '2023-06-24', 1200.00),
(1061, 10, '2023-06-26', 1850.00),
(1062, 11, '2023-06-28', 1750.00),
(1063, 12, '2023-06-30', 1600.00),
(1064, 13, '2023-07-02', 950.00),
(1065, 14, '2023-07-04', 2100.00),
(1066, 15, '2023-07-06', 2500.00),
(1067, 16, '2023-07-08', 3000.00),
(1068, 17, '2023-07-10', 2700.00),
(1069, 18, '2023-07-12', 1500.00),
(1070, 19, '2023-07-14', 1400.00);

num_affected_rows,num_inserted_rows
70,70

In [0]:
%sql
INSERT INTO order_details VALUES
(1, 1001, 1, 201, 'Laptop', 'Electronics', 1, 50000.00, '2023-01-10'),
(2, 1001, 1, 203, 'Headphones', 'Accessories', 2, 2000.00, '2023-01-10'),
(3, 1002, 2, 202, 'Smartphone', 'Electronics', 1, 30000.00, '2023-01-11'),
(4, 1003, 3, 205, 'Water Bottle', 'Kitchen', 3, 500.00, '2023-01-15'),
(5, 1004, 1, 208, 'Bluetooth Speaker', 'Electronics', 1, 3500.00, '2023-02-01'),
(6, 1005, 4, 204, 'Desk Chair', 'Furniture', 1, 4000.00, '2023-02-05'),
(7, 1006, 5, 207, 'Office Desk', 'Furniture', 1, 7000.00, '2023-02-08'),
(8, 1007, 6, 211, 'Tablet', 'Electronics', 2, 25000.00, '2023-03-01'),
(9, 1008, 7, 215, 'Gaming Chair', 'Furniture', 1, 15000.00, '2023-03-05'),
(10, 1009, 8, 209, 'Notebook', 'Stationery', 5, 200.00, '2023-03-09');

num_affected_rows,num_inserted_rows
10,10

In [0]:
%sql
--List all the cusotmer orders with product details 
--INNER JOIN
select c.customer_id,
c.first_name, c.last_name,o.order_id, o.product_name, o.quantity

from CUSTOMERS as c INNER JOIN ORDER_DETAILS as o
ON c.customer_id=o.customer_id

customer_id,first_name,last_name,order_id,product_name,quantity
1,John,Doe,1004,Bluetooth Speaker,1
1,John,Doe,1001,Headphones,2
1,John,Doe,1001,Laptop,1
2,Jane,Smith,1002,Smartphone,1
3,Raj,Kumar,1003,Water Bottle,3
4,Priya,Sharma,1005,Desk Chair,1
5,Tom,Brown,1006,Office Desk,1
6,Sara,Ali,1007,Tablet,2
7,Vikram,Singh,1008,Gaming Chair,1
8,Neha,Patel,1009,Notebook,5

In [0]:
%sql
--Full Breakdown : custoemrs,order, product_info

SELECT 
od.order_id, c.first_name, od.product_name, od.quantity, od.price_each

 FROM ORDER_DETAILS as od 
 INNER JOIN  ORDERS as o ON od.order_id=o.order_id
 INNER JOIN CUSTOMERS as c ON o.customer_id=c.customer_id

order_id,first_name,product_name,quantity,price_each
1001,John,Laptop,1,50000.00
1001,John,Headphones,2,2000.00
1002,Jane,Smartphone,1,30000.00
1003,Raj,Water Bottle,3,500.00
1004,John,Bluetooth Speaker,1,3500.00
1005,Priya,Desk Chair,1,4000.00
1006,Tom,Office Desk,1,7000.00
1007,Sara,Tablet,2,25000.00
1008,Vikram,Gaming Chair,1,15000.00
1009,Neha,Notebook,5,200.00

In [0]:
%sql
--show inactive and active customers 

SELECT 
c.first_name,c.last_name,o.order_id,o.order_date
 FROM CUSTOMERS as c 
 LEFT JOIN ORDERS o ON c.customer_id=o.customer_id

first_name,last_name,order_id,order_date
John,Doe,1052,2023-06-08
John,Doe,1004,2023-02-01
John,Doe,1001,2023-01-10
Jane,Smith,1053,2023-06-10
Jane,Smith,1002,2023-01-11
Raj,Kumar,1054,2023-06-12
Raj,Kumar,1003,2023-01-15
Priya,Sharma,1055,2023-06-14
Priya,Sharma,1005,2023-02-05
Tom,Brown,1056,2023-06-16
Tom,Brown,1006,2023-02-08
Sara,Ali,1057,2023-06-18
Sara,Ali,1007,2023-03-01
Vikram,Singh,1058,2023-06-20
Vikram,Singh,1008,2023-03-05
Neha,Patel,1059,2023-06-22
Neha,Patel,1009,2023-03-09
David,Lee,1060,2023-06-24
David,Lee,1010,2023-03-10
Amit,Verma,1061,2023-06-26
Amit,Verma,1011,2023-03-12
Emily,Clark,1062,2023-06-28
Emily,Clark,1012,2023-03-15
Ananya,Roy,1063,2023-06-30
Ananya,Roy,1013,2023-03-18
Sam,Wilson,1064,2023-07-02
Sam,Wilson,1014,2023-03-20
Pooja,Das,1065,2023-07-04
Pooja,Das,1015,2023-03-22
Arjun,Nair,1066,2023-07-06
Arjun,Nair,1016,2023-03-25
Kavita,Gupta,1067,2023-07-08
Kavita,Gupta,1017,2023-03-28
Robert,King,1068,2023-07-10
Robert,King,1018,2023-03-30
Meera,Joshi,1069,2023-07-12
Meera,Joshi,1019,2023-04-01
Michael,Scott,1070,2023-07-14
Michael,Scott,1020,2023-04-03
Ravi,Menon,1021,2023-04-05
Tina,Fernandez,1022,2023-04-08
Arvind,Singh,1023,2023-04-10
Lucy,Adams,1024,2023-04-12
Karan,Malhotra,1025,2023-04-14
Sneha,Reddy,1026,2023-04-16
George,Mason,1027,2023-04-18
Vishal,Kapoor,1028,2023-04-20
Emma,Watson,1029,2023-04-22
Siddharth,Jain,1030,2023-04-24
Olivia,Brown,1031,2023-04-26
Nikhil,Arora,1032,2023-04-28
Ayesha,Khan,1033,2023-05-01
Chris,Evans,1034,2023-05-03
Ishita,Bhatt,1035,2023-05-05
Shyam,Patil,1036,2023-05-07
Sophia,Green,1037,2023-05-09
Harsh,Aggarwal,1038,2023-05-11
Liam,Martin,1039,2023-05-13
Diya,Saxena,1040,2023-05-15
Jason,Taylor,1041,2023-05-17
Ritika,Mehra,1042,2023-05-19
Steve,Jobs,1043,2023-05-21
Alisha,Paul,1044,2023-05-23
Dhruv,Singhania,1045,2023-05-25
Rebecca,Lewis,1046,2023-05-27
Naveen,Shetty,1047,2023-05-29
Julia,Roberts,1048,2023-05-31
Parth,Desai,1049,2023-06-02
Nina,Shah,1050,2023-06-04
Aria,Gill,1051,2023-06-06